* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  body {
    
    background-color: rgb(238, 231, 218);
  }
  .flex {
    
    display: flex;
  }
 
  .conteiner {
    padding: 30px;
    display: flex;
    justify-content: center;
    width: 50%;
    height: 75%;
    margin-left: 25%;
    margin-top: 0%;
  }
  /* -------------header y nav--------------- */
  h1 {
    color: rgb(238, 231, 218);
    font-size: 60px;
    margin: 2px auto 2px 42px;
    line-height: 1.2;
    text-align: left;
    text-shadow: 4px 4px 7px darkblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .logo {
    width: 60px;
    height: 60px;
    box-shadow: 3px 3px 3px rgb(238, 231, 218);
    margin: 2px;
    border-radius: 5px;
  }
  
  header ul {
    display: flex;
    list-style: none;
    gap: 65px;
    margin-right: 75px;
    align-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
  }
  header ul a,
  nav a {
    color: rgb(238, 231, 218);
    text-decoration: none;
    text-shadow: 2px 2px 5px darkblue;
  }
  header li,
  nav a {
    transition: 0.7s;
  }
  header li:hover,
  nav a:hover {
    transform: scale(1.2);
  }
  
  .encabezado {
    width: auto;
    background-color: rgb(136, 171, 142);
  }
  .header {
    flex-wrap: wrap;
    align-content: center;
    padding-top: 15px;
  }
  .navbar {
    padding: 3px;
    display: flex;
    width: 100%;
    background-color: rgb(175, 200, 173);
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
  }
  nav div a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    margin: 3px;
    color: rgb(238, 231, 218);
    text-shadow: 2px 2px 5px darkblue;
  }
  /* -------------main index---------------- */
  .main {
    background-color: transparent;
    height: calc(100vh - 167px);
  }

  main div h3 {
    color: darkblue;
    padding: 6px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    text-shadow: 2px 2px 4px gray;
  }
  
  main div p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 5px;
    width: 350px;
  }

  
 
  footer {
    height: 55px;
    background-color: rgb(136, 171, 142);
  }
  .redes {
    margin-left: auto;
    margin-right: 15px;
    align-content: center;
    padding-top: 15px;
  }
  .redes a {
    color: rgb(242, 241, 235);
    text-shadow: 3px 3px 6px gray;
  }
  footer p {
    font-family: "Times New Roman", Times, serif;
    font-size: 25px;
    color: rgb(238, 231, 218);
    margin-left: 25%;
    align-self: center;
    text-shadow: 3px 3px 6px gray;
  }
  /*-------------------Responsive--------------------*/
  /*-------------------Tablet------------------------*/
  @media (max-width: 800px) {
    body {
      width: 800px;
    }
    .flex {
      width: 1000px;
    }
    .encabezado {
      width: 1000px;
    }
    .grid-prod {
      width: 1000px;
      grid-template-columns: repeat(2, 1fr);
    }
  }
  /*---------------------Movil-----------------------*/
  @media (max-width: 330px) {
    body {
      width: 330px;
    }
    .flex {
      width: 330px;
    }
    .encabezado {
      width: 330px;
    }
    .conteiner {
      width: 330px;
    }
    .grid-prod {
      width: 330px;
      grid-template-columns: repeat(1, 1fr);
    }
    h1 {
      font-size: 30px;
    }
    header ul {
      display: flex;
      flex-direction: column;
      margin-right: 8px;
      gap: 5px;
      font-size: 16px;
    }
  
    .navbar {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-content: center;
    }
    .navbar a {
      font-size: 14px;
      text-align: center;
    }
    .card img {
      width: 200px;
      height: 120px;
    }
    main div p {
      font-size: 15px;
      padding: 5px;
      width: 310px;
    }
    footer{
      height: 70px;
    }
    .redes {
      margin-left: auto;
      margin-right: 5px;
      align-content: center;
      padding-top: 5px;
    }
    footer p{
      font-size: 18px;
      margin: 20%;
      text-align: center;
    }
    .redes em{   
      font-size: 18px;
    }
  
  }

  #botonRetorno{
    display: flex;
    justify-content: center;
    
  }

  button{
    background-color: rgb(175, 200, 173);
    margin: 20px;
    border-radius: 25px;
    width: 100px;
  }
  
  button:hover{
    transform: scale(1.2);
    transition: 0.7s;
  }