* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.flex {
  display: flex;
}
.grid {
  display: grid;
}
.conteiner {
  margin: auto;
  max-width: 1200px;
  overflow: visible;
}
h1 {
  color: rgb(224, 238, 29);
  font-size: 60px;
  margin: 2px auto 2px 42px;
  line-height: 1.2;
  text-align: left;
  text-shadow: 4px 4px 7px blue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.logo {
  width: 60px;
  height: 60px;
  box-shadow: 3px 3px 3px blue;
  margin: 2px;
  border-radius: 5px;
}
header ul {
  
  display: flex;
  list-style: none;
  gap: 65px;
  margin-right: 75px;
  align-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
  
}
header ul a, nav a {
  color: rgb(224, 238, 29);
  text-decoration: none;
  text-shadow: 2px 2px 5px blue;
  }
  header li, nav a{
    transition: 0.7s;
  }
header li:hover, nav a:hover {
  transform: scale(1.3);
}
.encabezado {
  background-color: coral;
}
.header {
  flex-wrap: wrap;
  align-content: center;
}
.navbar {
  display: flex;
  width: 100%;
  background-color: rgb(245, 79, 14);
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
}
nav div a {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 20px;
  margin: 3px;
  color: rgb(224, 238, 29);
  text-shadow: 2px 2px 5px blue;
  
}
.main {
  background-color: rgb(249, 199, 17);
}
.grid-prod {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3px;
}
.card {
  justify-self: center;
  margin: 3px;
  padding: 5px;
  border-radius: 10px;
  box-shadow: -7px -7px 20px rgba(228, 90, 90, 0.2),
    7px 7px 20px rgba(219, 191, 36, 0.972);
}
.card img {
  width: auto;
  height: 200px;
  border-radius: 10px;
  box-shadow: -27px -7px 20px rgba(202, 73, 73, 0.2),
    7px 7px 20px rgba(225, 149, 61, 0.88);
transition: 1.5s;
  }
.card img:hover{
  transform: scale(1.4);
}
.card a {
  justify-self: end;
  padding: 3px;
  text-decoration: none;
  transition: 0.5s;
}
.card a:hover {
  justify-self: end;
  background-color: green;
  color: white;
  padding: 5px;
  border-radius: 8px;
  text-decoration: none;
  transform: scale(1.4);
}
.aside {
  background-color: chocolate;
}
.footer {
  background-color: coral;
}
.redes {
  margin-left: auto;
  margin-right: 5px;
  align-content: center;
}
