.flex {
  display: flex;
}

/* Encabezado */
header {
  padding-left: 1%;
  padding-right: 1%;
  background-color: #517ca4;
  grid-area: enc;
}
header div {
  margin-left: auto;
  margin-right: 1%;
}
header div ul {
  list-style: none;
}
header div ul li {
  display: contents;
}
header div ul a {
  color: white;
  margin-left: 15px;
}
/* Navegacion */
nav {
  grid-area: nav;
  height: 100%;
  list-style: none;
  background-color: cornflowerblue;
  margin: 1px;
}

nav div ul a {
  color: white;
  margin-left: 0px;
}
nav div ul li {
  display: contents;
}
nav div {
  width: 100%;
  background-color: aqua;
  margin-top: 20px;
}

/* grid areas */
#grid {
  display: grid;
  grid-template-columns: 20% 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 25% auto 15%;
  grid-template-areas:
    "nav enc enc enc enc enc"
    "nav main main main main main"
    "nav footer footer footer footer footer";
}
main {
  grid-area: main;
  background-color: aquamarine;
}
footer {
  grid-area: footer;
  background-color: goldenrod;
}
